header {
    font-family: 'Fjalla One', sans-serif;
}

.navbar-brand {
    font-size: 30px;
}

.fa-user {
    color: grey;
}

.btn-top {
    width: 80px !important;
}

.top-cluster-mid-text {
    color: white;
    font-size: 15px;
}

img {
    width: 400px;
    height: 400px;
}