header {
  font-family: "Fjalla One", sans-serif;
}

label {
  font-size: small;
  margin: 1px;
  padding-left: 1px;
}

.label,
.column-label,
label,
.cluster-heading,
.modal-title,
th,
.button-symbol {
  color: white;
}

.modal-content {
  background-color: #343a40;
}

.sheet-container {
  max-width: 96%;
}

.navbar-brand {
  font-size: 30px;
}

.fa-user {
  color: grey;
}

.btn-top {
  width: 80px !important;
}

.top-cluster-mid-text {
  color: white;
  font-size: 15px;
}

.scroll-table {
  max-height: 22em;
  overflow: auto;
}

.table-delete {
  display: inline-block;
  vertical-align: middle;
}

.section-container {
  background-color: #3f474e;
}

.dropdown-divider {
  background-color: red;
}

/* Ability Score and Skill Section */

.skill > * > .input-group-text {
  font-size: smaller;
}

.skill > .form-control {
  padding: 5px;
  text-align: center;
}

/* Attack and spell slots section */
.attack-slots-text,
.spell-slots-text {
  font-size: small;
}

/* Active features section */
.active-features-text {
  font-size: small;
}

/* User image */
img {
  max-width: 100%;
  max-height: 100%;
  /* width: 400px;
  height: 400px; */
}

#user-image {
  position: relative;
}

#change-img-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Skills aligning */
#proficiency-append, #inspiration-append, .input-group > .skill-name {
  min-width: 50%;
}

/* .input-group > .input-group-append {
  flex: 0 0 20%;
} */

.input-group .input-group-text {
  width: 100%;
}