body {
    background-image: linear-gradient(125deg, #370617, #000000);
    font-family: "Montserrat",sans-serif;
    min-height: 100vh;
}

header { 
    font-family: 'Fjalla One', sans-serif;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 100%;
}

div {
    overflow: hidden;
}

.main-container, .navbar-dark {
    background-color: #161A1D;
}

.main-text {
    font-size: 24px;
    color: white;
}

#curr-selected-text {
    color: #BA181B;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.char-img {
    max-height: 500px;
    overflow: hidden;
}

#play-btn {
    margin: auto;
}

.modal-content {
    background-color: #343a40;
}