body {
    background-image: url('login-pic.jpg');
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: 'Fjalla One', sans-serif;
}

.navbar-brand {
    font-size: 30px;
}

.top-buffer, .bottom-buffer {
    margin-top: 170px;
}

.container {
    height: 550px;
    max-width: 600px;
}

.sign-in-text {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.forgot {
    font-size: small;
    color: rgb(197, 13, 13);
}

.register {
    font-weight: bold;
    font-size: large;
    color: rgb(197, 13, 13);
}

label {
    color: white;
}