body {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-signin {
    background-image: url('login-pic.jpg');
    background-attachment: fixed;
}

.bg-register {
    background-image: url('register-pic.jpg');
    background-attachment: fixed;
}

header {
    font-family: 'Fjalla One', sans-serif;
}

.navbar-dark {
    background-color: #161A1D;
}

.navbar-brand {
    font-size: 30px;
}

.top-buffer, .bottom-buffer {
    margin-top: 170px;
}

.container {
    height: 550px;
}

#signin-container {
    max-width: 600px;
    background-color: #161A1D;
}

.register-container {
    max-width: 700px; 
    background-color: #161A1D;
}

.register-text {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

#success-register-text {
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
}

.fa-check-circle {
    color: rgb(197, 13, 13);
}

.sign-in-text {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.signin {
    font-size: medium;
    color: rgb(197, 13, 13);
}

.modal {
    background-color: black;
}

.forgot {
    font-size: small;
    color: rgb(197, 13, 13);
}

.register {
    font-weight: bold;
    font-size: large;
    color: rgb(197, 13, 13);
}

label {
    color: white;
}