body{
    margin:0;
    padding: 0;
    background-image: url('register-pic.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat",sans-serif;
}
header{
    font-family: 'Fjalla One', sans-serif;
}

.navbar-brand {
    font-size: 30px;
}

.container{
    height: 335px;
    max-width: 600px;
    transform: translateY(50%);
    text-align: center;
}

.container a{
    text-decoration: none;
    background:#00e04a;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container h2{
    font-weight:600;
}
.navar-brand{
    font-size: 30px;
}
